
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (TempData["State"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["State"]
    </div>
}

<form method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" value="@ViewData["username"]">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div>
        <p style="color:red">@Html.ValidationMessage("authenticationFailed")</p>
    </div>
    <input type="submit" value="Login" class="btn btn-default" />
</form>